<% include partials/header %>
 
 <% data["articles"].forEach(function(news) { %>
    <% if (news.title === title){ %>
        <div class="container">
            <div class="single-body">
                <div class="p-4">
                    <h2 class="card-title"><%= news["title"] %></h2>
                </div>
                <div class="single-body-img">
                    <img class="" src='<%=news["urlToImage"] %>'>
                </div>
                <div class="p-4">
                    <h4 class="card-subtitle">
                        <span>Source:<%= news["source"]["name"] %> </span>  <br />
                        <span> Date:<%= news["publishedAt"].substring(0, 10); %></span>
                    </h4>
                    <p class="pt-3"><%= news["content"] %></p>
                </div>
                
            </div>
            <p class="text-center"><a class="link" href="/news"> ← Back To Home</a></p>
        </div>
        
    <%}%>
  <%});%>      
<% include partials/footer %>